<!DOCTYPE html>
<html>
  <head>
    <title>Your New Generated Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1 {
        color: black;
      }
    </style>
  </head>

  <body>
    <div class="emailwrapper">
      <div class="main">
        <div class="content">
          <strong>Hi there!</strong>
          <p>Welcome to <strong>Powerboard</strong></p>
          <div style="padding: 0.5px">
            <div>Your User Name is <strong>{{username}}</strong>.</div>
          </div>
          <div style="padding: 0.5px">
            <div>Your new generated default password is <strong>{{defaultPassword}}</strong>.</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
